.btn[disabled]{
  background: #ccc;
  cursor: not-allowed;
  &:hover{
    background: #ccc;
  }
}
.btn{
  background: #90afc5;
  color:#fff;
  border: none;
  width: 120px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  transition: all .2s ease-out;
  outline: 0;
  &:hover{
    background: #336b87;
  }
  &:active{
    transform: scale(0.85);
  }
}