.wrapper{
  padding: 55px 0 0 0;
  position: relative;
  height: 100%;
}
.content{
  height: 100%;
  padding: 0 10px;
}

.content-table {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;

}
.content-row__center{
  display: table-row;
}
.content-row__cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.footer-row{
  display: table-row;
  width: 100%;
}
.footer-inner{
  display: table-cell;
  height: 1%;
}