@mixin translate3d ($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

.unsorted-list{
  display: block;
  position: relative;
  width: 50px;
  margin: 10px;
  list-style: none;
  text-align: center;
}
.unsorted-list li{
  position: absolute;
  top: 0;
  left:0;
  transition: all 0.3s ease-out;
  width: 50px;
  height: 50px;
  background:#336b87;
  color: #fff;
  line-height: 50px;
  font-size: 28px;
  &.active{
    background: red;
  }
}

@for $i from 1 through 10 {
  .unsorted-list li:nth-child( #{$i} ){
    transform: translate(0, ($i - 1 ) * 52px);
  }
}

.sort-info{
  margin: 20px 0 0 0;
}
